.listct {
  font-size: 18px;
  font-weight: 300;
}

.akocol {
  display: flex;
  justify-content: left;
  align-items: center;
}

.myako > .ant-divider .ant-divider-horizontal {
  margin-top: -30px;
}

.ako {
  margin-top: 10px;
  background-color: #fafafa;
  padding: 20px 20px;
  padding-top: 0px;
}
